.container{
	border: 5px solid rgb(0,191,255);
	padding: 15px 30px;
	margin: 5%;
}
a{
	color: rgb(0,191,255);
	text-decoration: none;
}
a:active{
	color: white;
	background-color: rgb(0,191,255);
}